@media only screen and (max-width: 1024px){

	.desktop-only {
		display: none;
	}

	.mobile-only {
		display: block;
	}

	video.mobile-only {
		width: 100%;
	}

	header ul.mobile-only {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: 'SpeziaRegular';
		position: fixed;
		z-index: 10;
		background: white;
		width: 100%;
	}

	section.aboutpage, section.approachpage {
		padding-top: 141px;
	}

	section.contactpage {
        padding-top: 200px;
    }



	:root {
		--header-font: 'Supreme';
		--main-font: 'NeueHaas55';
		--regular-font-size: 16px;
		--regular-line-height: 19.2px;
		--menu-line-height: 12.8px;
		--footer-font-size: 14px;
		--footer-line-height: 14px;
		--main-font-size: 24px;
		--main-font-weight: 400;
		--main-line-height: 26.4px;
		--main-letter-spacing: -1px;
		--header-font-size: 32px;
		--header-font-weight: 400;
		--header-line-height: 30px;
		--header-letter-spacing: -0.06em;;
		--secondary-heading-font-size: 48px;
		--secondary-heading-line-height: 43.2px;
		--secondary-heading-letter-spacing: -2px;
		--tertiary-heading-font-size: 16px;
		--tertiary-heading-line-height: 19.2px;
		--tertiary-heading-letter-spacing: -1px;
		--title-font-size: 32px;
		--title-line-height: 30px;
		--title-letter-spacing: -1px;
		--primary-font-color: #000000;
		--secondary-font-color: #c0c0c8;
		--link-hover: #587EF1;
		--background-color: #F5F5F5;
	}

	header ul {
    padding: 58px 4% 33px;
  }

  header ul li {
	font-family: var(--main-font);
	font-size: 16px;
	font-weight: 450;
	line-height: 13px;
	letter-spacing: 0em;

  }

	h1 {
		text-align: left;
	} 

	.services li {
		font-weight: 400;
		letter-spacing: normal;
		font-size: var(--tertiary-heading-font-size);
        line-height: var(--tertiary-heading-font-line-height);

	}

	.mobile-menu {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: white;
		z-index: 10;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 22px;
		text-align: center;
        transition: 0.3s;
	}

	.mobile-menu ul {
		width: 100%;
		justify-content: center;
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.mobile-menu ul.mobile-only {
		width: 100%;
		flex-direction: row;
		display: flex;
		justify-content: space-between;
		height: unset;
		padding: 58px 0 33px;
	}

	.mobile-menu.closed {
		transform: translateY(-100%);
	}

	.mobile-menu ul.mobile-only li {
		border: none;
		font-size: 16px;
		line-height: 19.2px;
		letter-spacing: -0.2px;;
	}

	.mobile-navitems li a{
		font-family: var(--header-font);
		font-weight: normal;
	}

	.mobile-menu ul.mobile-only li.menu-toggle img {
		height: 12px;
	}

	.mobile-menu ul li {
        font-family: var(--main-font);
		font-size: var(--header-font-size);
		letter-spacing: -0.01em;
		line-height: 88px;
		border-bottom: 1px solid #c0c0c8;
	}

	.mobile-menu ul li:last-of-type {
		border-bottom: none;
	}

	header ul.mobile-only li:last-of-type {
		font-size: 16px;
	}

	.socials a:hover {
		color: black !important;
	}

	header ul li a:hover{
		color: black;
	}

	header ul li a.active-link{
		color: black;
	}

	/* Home Page */

	.homepage{
    margin-top: 0;
	}

	.background-text{
		display: none;
	}

	.intro-block{
		top: 150px;
		gap: 96px;
	}

	.PoR-intro {
        font-family: var(--header-font);
        font-size: 38px;
        font-weight: 400;
        letter-spacing: -1.92px;
        width: auto;
    }
	

	.homepage h1 {
		padding: 48px 22px 48px;
        margin: 0;
	}

	.homepage img {
		width: 100%;
	}

	section.homepage {
		flex-direction: column;
		align-items: flex-start;
		padding-top: 0px;
	}

	.images{
		flex-direction: column;
		gap: 96px;
	}

	.images .project1{
		width: 70%;
	}

	.row-2{
		flex-wrap: wrap;
	}

	.row-3{
		gap: 96px;
		flex-wrap: wrap;
	}

	.project3-mobile{
		margin-left: auto;
	}

	.extra-gap{
		margin-right: 0px;
	}

	.design3-mobile{
		margin-right: auto;
	}
	
	.row-4 {
		gap: 96px;
		flex-direction: column;
		align-items: center;
		margin-top: 0;
	}

	.design4-mobile{
		margin-left: auto;
	}

	.project-6 {
        height: auto;
        width: 70%;
        margin-left: auto;
    }

	.project-7{
		margin-right: auto;
		width: 660px;
	}


	/* Projects Page (Index) */

	.projects-mobile{
		display: none;
	}

    .aboutpage .three-column,
	.approachpage .three-column {
		grid-template-columns: repeat(1, minmax(180px,1fr));
		grid-gap: 18px;
	}

	.aboutpage .two-column,
	.approachpage .two-column {
		grid-template-columns: repeat(1, minmax(100px,1fr));
		grid-gap: 48px;
	}

	.project {
		grid-template-columns: repeat(4, 150px);
		grid-column-gap: calc(100% / 20);
		padding: 20px 4%;
	}

	/* Project Page */
	.thumbnail{
		padding-top: 120px;
	}

 .block1 {
	max-width: 1000px; 
	height: 420px; 
}

.block2 {
	max-width: 1000px; 
	height: 732px; 
}

/* Block 3 */
.block3 {
	max-width: 472px; 
	height: 732px; 
}

/* Block 4 */
.block4 {
	max-width: 472px; 
	height: 366px; 
}

.block5 {
	max-width: 1000px; 
	height: 564px; 
}

	/* About Page */

	.aboutpage {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.about-services, .about-clients, .about-inquiries, .about-team, .about-awards {
		margin: 0 4%;
	}

	.about-workwithus {
		padding: 48px 4%;
		margin-left: 0;
		margin-right: 0;
	}


	.about-workwithus br{
		display: block;
	 }

	.aboutpage .about-workwithus h2 {
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0px;
	}

	.about-workwithus p {
		margin-bottom: 32px;
		letter-spacing: normal;
	}


	.about-workwithus .two-column {
        grid-gap: 0;
	}

	.about-title {
        max-width: 80%;
        margin: 4%;
        order: -1;
    }

	.aboutpage h2{
		font-size: 38px;
		line-height: normal;
	}

	.about-services{
		padding: 0px 10px 70px 100px;
		border: none;
		order: -1;

	}

	.aboutpage-specialparagraph br{
		display: none;
	}

	.about-services .secondary-title,
	.about-services p{
		display: none;
	}

	.about-services .two-column {
		display: grid;
		grid-template-columns: none;
		grid-gap: 0px;
		
	  }

	.about-services .two-column ul li{
		font-size: 20px;
	  }

	.about-clients .three-column {
        grid-gap: 0px;
		margin-bottom: 24px;
    }

	.about-inquiries {
		display: none;
	}

	.about-team {
		padding-top: 0;
		border: none;
		order: -1;
	}

	.team-member{
		padding: 24px 10px 24px 100px;
	}

	.about-team .secondary-title {
		margin-bottom: 0;
	}


	.about-team .team-member img {
		max-width: 162px;
	}


	.about-team .team-title {
    margin: 24px 0 8px 0;
    letter-spacing: 0;
	}

	.about-workwithus .three-column {
		grid-template-columns: 87px 1fr 0fr;
        grid-gap: 16px;
		padding: 0;
	}

	.about-clients {
		border: none;
        padding: 24px 10px 24px 100px;
	}

     .about-awards .three-column {
		grid-gap: 0px;
	}

	.about-awards {
		padding: 24px 10px 24px 100px;
		border: none;

	}

	.about-pillars {
		padding-left: 103px;
		border-top: none;
        padding-top: 0;
	}

	.about-pillars p {
		letter-spacing: normal;
	}

	.about-pillars.mobile-only li {
		font-size: var(--main-font-size);
		line-height: var(--main-line-height);
		letter-spacing: normal;
	}

	.about-pillars ul{
		margin-bottom: 24px;
	}

	/* Approach Page */

	.approach-title {
        margin: 48px 0 80px;
    }

	.approachpage h2 {
		margin: 0;
		width: 80%;
		font-size: 38px;
		line-height: normal;
	}

  .about-pillars .three-column {
  	grid-gap: 40px;
  }

  .about-pillars p.secondary-title {
    margin-bottom: 16px;
	}

	.approachpage {
        padding: 30px 4% 128px;
    }

	/* ContactUs Page */

	.contactpage h2 {
		margin: 0;
		font-size: 38px;
	}

	.contactform p {
		letter-spacing: normal;
	}

/* FOOTER */
footer{
    bottom: 0;
    width: 100%;
	margin-top: 60px;
    padding: 20px 4%;
    padding-bottom: 50px;
    font-size: 16px;
    line-height:20px;
 
}

.contact-info{
	margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.inquiry{
    font-size: 24px;
	padding-bottom: 40px;
}

.enquiry{
    padding-bottom: 20px;
    color: var(--secondary-font-color);
    
}
.socials{
    padding-top: 24px;
    display: flex;
    gap: 30px;
    z-index: 1;
}

.socials a {
    text-decoration: none;
    color: var(--primary-font-color);
    font-family: var(--main-font);
}

.copyright{
	padding-top: 0;
	margin-top: 0;
    font-size: 12px;
	float: right;
    position: relative;
    top: -20px;
}
}

@media only screen and (max-width: 992px){

	h1 {
		text-align: left;
	} 

	.mobile-menu {
		display: flex;
	}


	.socials a:hover {
		color: black !important;
	}

	/* Home Page */

	.design4-mobile{
		margin-right: auto;
	}

	.project-7{
		width: 800px;
		margin-left: auto;
	}


	/* Projects Page (Index) */

  .three-column {
		grid-template-columns: repeat(1, minmax(180px,1fr));
		grid-gap: 18px;
	}

	.two-column {
		grid-template-columns: repeat(1, minmax(100px,1fr));
		grid-gap: 48px;
	}

	.project {
		grid-template-columns: repeat(4, 150px);
		grid-column-gap: calc(100% / 20);
	}

	/* Project Page */
	.thumbnail{
		max-height: 540px;
	}

	.project-details{
		gap: 100px;
	}
	
	.block1 {
        max-width: 996px; 
        height: 416px; 
    }
    .block2 {
        max-width: 996px; 
        height: 728px; 
    }
    .block3 {
        max-width: 468px; 
        height: 728px; 
    }
    .block4 {
        max-width: 468px; 
        height: 364px; 
    }
    .block5 {
        max-width: 996px; 
        height: 560px; 
    }


	/* About Page */

	.aboutpage .about-workwithus h2 {
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0px;
    }


	/* ContactUs Page */

	.contact-title{
		margin: 20px 0;
	}

	.contactpage {
		padding: 33px 4% 0;
	}

	.contactpage-grid {
    grid-template-columns: 1fr;
    grid-gap: 0px;
    padding: 0;
  }

	.email-submit-notice {
	   margin: 16px 0 0 0;
	}

	.contactpage .about-title{
		display: block;
	}

	.contactemail .secondary-title a {
    letter-spacing: normal;
}

	.contactform form {
		margin: 0;
	}

	.form-grid {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }

  .contactform form input[type="submit"]{
	margin-top: 40px;
  }

  .contactform form input, .contactform form textarea {
    margin-top: 16px;
	}

	.contactemail .info {
    grid-gap: 26px;
    flex-direction: column;
	}

}

@media only screen and (max-width: 770px){
	/* Project Page */

	.media{
		margin: 10px;
	}

	.block1 {
        max-width: 768px; 
        height: 320px; 
    }
    .block2 {
        max-width: 768px; 
        height: 560px; 
    }
    .block3 {
        max-width: 372px; 
        height: 560px; 
    }
    .block4 {
		max-width: 372px; 
        height: 240px; 
    }
    .block5 {
        max-width: 768px; 
        height: 432px; 
    }
	
}

@media (max-width: 770px) and (min-width: 640px){
	/* Projects Page - Index */
	.project {
		grid-template-columns: repeat(4, 140px);
		grid-column-gap: calc(100% / 30);
	}

	.project p {
		font-size: 22px;
	}

	.project a {
		font-size: 22px;
	}

	.bx {
		font-size: 24px;
		
	}

}

@media (max-width: 640px) and (min-width: 480px){

	header ul.mobile-only {
		top: 0;
	}

	/* Home Page */

	.homepage{
		margin: 20px;
		padding: 0;
		padding-bottom: 200px;
	}


	.PoR-intro {
        font-size: 32px;
        letter-spacing: -1.92px;
		width: auto;
		font-weight: 400;
    }

	.images .design-1{
		width: 65%;
	}

	.row-2{
		gap: 0;
	}

	.mobile-project1{
		margin-bottom: 96px;
	}

	.row-3, .row-4{
		flex-direction: column;
		gap: 96px;
	}

	.row-2{
		align-items: normal;
	}

	.project-2 {
        margin-left: auto;
        margin-right: auto;
		width: auto;
    }

	.row-2 .project-3{
		justify-content: flex-end;
	
	}

	.project3-mobile{
		margin-bottom: 42px;
	}

	.project-4 {
		margin-left: auto;
		margin-right: auto;
		width: auto;
	}

	.design4-mobile{
		margin-left: auto;
		margin-right: 0;
	}

	.project-7 {
		margin-left: auto;
		width: auto;
		height: auto;
		margin-right: auto;
	}
	
	/* Projects Page - Index */

	.project {
		grid-template-columns: 100px 100px 100px 130px 0fr;
		grid-column-gap: calc(100% / 40);
	}

	.project p {
		font-size: 20px;
	}

	.project a {
		font-size: 20px;
		font-display: flex;
	}

	.bx {
		font-size: 22px;
		
	}

	/* Project Page */

	.thumbnail {
		max-width: 100%;
		height: auto;
	}

	.project-details{
		flex-direction: column;
		gap: 0;
	}

	.media{
		margin: 10px;
	}

	.project-header h1{
		margin-bottom: 16px;
	}

	.industry{
		margin-bottom: 30px;
	}

	.industry p{
		font-size: 16px;
	}

	.description-col{
		width: 100%;
	}

	.project-description {
		width: auto;
		font-size: 16px;
	}

}

@media only screen and (max-width: 480px){

	.mobile-only {
		display: block;
	}

	header ul.mobile-only {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: 'SpeziaRegular';
		position: fixed;
		top: 0;
		z-index: 10;
		background: white;
		width: 100%;
	}

	.mobile-menu {
		display: flex;
	}


	.mobile-menu ul li {
        font-family: var(--main-font);
		font-size: 30px;
        letter-spacing: -0.02em;
		line-height: 88px;
		border-bottom: 1px solid #c0c0c8;
	}

	/* Home Page */

	.homepage{
		margin: 20px;
		padding: 0;
		padding-bottom: 200px;
	}

	.homepage br{
		display: none;
	}


	.PoR-intro {
        font-size: 32px;
        letter-spacing: -1.6px;
        line-height: 36px;
    }

	.intro-block{
		gap: 50px;
		top: 110px;
	}

	.images{
		margin-bottom: 46px;
	}

	.images .design-1{
		width: 65%;
	}

	.row-2{
		gap: 0;
		margin-bottom: 46px;
	}

	.mobile-project1{
		margin-bottom: 96px;
	}

	.row-3{
		margin-bottom: 46px;
	}

	.row-3, .row-4{
		flex-direction: column;
		gap: 96px;
	}

	.row-2{
		align-items: normal;
	}

	.project-2 {
        margin-left: auto;
        margin-right: auto;
		width: auto;
    }

	.row-2 .project-3{
		justify-content: flex-end;
	
	}

	.project3-mobile{
		margin-bottom: 42px;
	}

	.project-4 {
		margin-left: auto;
		margin-right: auto;
		width: auto;
	}

	.design4-mobile{
		margin-left: auto;
		margin-right: 0;
	}

	.project-6 {
		margin-left: auto;
		width: 265px;
		height: 360px;
	}

	.project-7 {
		margin-left: auto;
		width: auto;
		height: auto;
		margin-right: auto;
	}

	/* Projects Page */

	.projects-body {
		padding-top: 200px;
		border-bottom: 1px solid;
	}

	.projects {
		display: none;
	}

	.project {
		display: grid;
		border-top: 1px solid black;
		padding: 20px 4%;
		grid-template-columns: 140px 140px 0px 0px 0fr;
		 grid-column-gap: 0px; 
		cursor: pointer;
		font-size: 18px;
	}

	.project-casestudy{
		display: flex;
		justify-content: space-between;
		width: 100vw;
		padding: 20px 4%;
		cursor: pointer;
		font-size: 20px;
	}

	.project .brand,
	.project .towork{
		max-width: 100px;
		font-size: 20px;
	}

	.casestudy-mobile{
		position: absolute;
	}

	.casestudy-mobile a{
		position: relative;
		top: -20px;
	}

	.imageList{
		background-color: black;
	}

	.image-counter{
		position: absolute;
	}

	.image-count{
		position: relative;
        top: -20px;
        left: 280px;
	}

	/* Project Page */

	.thumbnail {
		max-width: 100%;
		height: auto;
	}

	.project-details{
		padding: 30px 4% 20px;
		flex-direction: column;
		gap: 0;
	}

	.project-layout {
		padding: 4%;
	}

	.project-header h1{
		margin-bottom: 16px;
	}

	.industry{
		margin-bottom: 30px;
	}

	.industry p{
		font-size: 16px;
	}

	.description-col{
		width: 100%;
	}

	.project-description {
		width: auto;
		font-size: 16px;
	}

	.media{
		margin: 10px;
	}

    .row {
		flex-direction: column;
        align-items: center;
    }
    .block1 {
        max-width: 100%;
        width: 100%;
		height: 150px !important;
    }

	.block2 {
        max-width: 100%;
        width: 100%;
		height: 240px !important;
    }

	.block3 {
        max-width: 100%;
        width: 100%;
		height: 480px !important;
		
    }

	.block5 {
        max-width: 100%;
        width: 100%;
		height: 190px !important;
    }
	
    .block4 {
		width: 100%;
        max-width: 100%;
		height: 230px !important;
    }

    .block4:nth-of-type(odd) {
        margin-right: 10px;
    }

    .block4:nth-of-type(even) {
        margin-left: 10px;
    }

	.empty-block{
		display: none;
	}

	/* About Page */

	.about-title {
		max-width: 90%;
	}

	.aboutpage h2{
		font-size: 32px;
		letter-spacing: -1.6px;
        line-height: 36px;
	}

	/* Approach Page */

	.approach-title{
		max-width: 95%;
	}

	.approachpage h2{
		width: 100%;
		font-size: 32px;
		letter-spacing: -1.6px;
        line-height: 36px;
		font-weight: 400;
	}

	.with-respect {
		padding: 10px 4% 10px 119px;
		width: auto;
		font-size: 12px;
		top: 0px;
	}

	/* Contact Page */

	section.contactpage {
        padding-top: 144px;
    }

	.contactpage h2 {
		font-size: 32px;
		letter-spacing: -1.6px;
	}

	.contactpage .three-column{
		grid-gap: 0;
	}

	
}